extends ../layouts/site/clear

block content
    .its__done
        .container
            .card.has-rounded-md.bs-1
                .card-content
                    i.material-icons.f-4.light-green-text.darken-4 check
                    p.f-2.text-bold ¡La solicitud ha sido enviada con éxito!
                    p.f-5 Pronto estaremos contactándonos contigo.
            .center-align.black-text
                a(href='/').black-text Volver al inicio