extends ../layouts/site/index

block content
    .container(data-barba-prevent)
        p.f-1.center-align Planes disponibles
        .border-bottom.mb-3
        p.mb-2 Tenemos a la disposición varios planes segun tu necesidad, todos nuestros planes poseen una duración.
        .row.mb-3
            each plan in plans
                .col.m12.mb-3
                    .card
                        .card-content
                            p.f-1.text-bold.center-align= plan.nombre
                            span !{plan.descripcion}
                            .row.center-align.mt-3
                                .col.m6
                                    p.text-bold Duración: 
                                        if (plan.duracion == 0)
                                            span.text-normal Gratís
                                        else
                                            span.text-normal=plan.duracion
                                            if (plan.duracion > 1)
                                                |  meses
                                            else
                                                |  mes
                                .col.m6
                                    p.text-bold Precio: 
                                        span.text-normal
                                            | $
                                            =plan.costo
                                            
                        .card-action.center-align
                            a(href='/plan/needed/register/' + plan.idplan).btn.purple.border-rounded
                                | Solicitar
                                i.material-icons.right keyboard_arrow_right
