doctype html
html(lang='en')
  include ../../inc/general/googleAnalistycs
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="robots" content="follow")
  meta(name="description" content="Pagina publicitaria Rubikate, donde podras encontrar todo lo referente a emprendimientos existentes en nuestro catalogo de clientes.")

  title #{title} | #{section}
  // ICON CSS CDN
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
  // CUSTOM CSS
  link(rel='stylesheet' href='/css/custom/owner.min.css')
  // CSS FRAMEWORK
  link(rel='stylesheet' href='/css/vendor/materialize.min.css')
  // VENDORS CSS
  script(src='/js/vendor/jquery/jquery-3.6.0.min.js')

body(data-barba="wrapper")
  ul.transition
    li
    li
    li
    li
    li
    li
    li
  include ../../inc/site/navbar
  include ../../inc/general/alert
  main(data-barba="container" data-barba-namespace="home")
    include ../../inc/site/up
    include ../../inc/site/header
    block content
  include ../../inc/site/footer

  // VENDORS JS
  script(src='/js/vendor/materialize.min.js')
  script(src="https://unpkg.com/@barba/core")
  script(src="/js/vendor/gsap/dist/gsap.min.js")
  // CUSTOM JS
  script(src='/js/custom/animation.min.js')
  script(src='/js/custom/owner.min.js')

  

