extends ../../../layouts/admin/index2

block content
    .form__header.bs-8
        h1 #{section}
    .form__layout
        if (result)
            p.mb-2.size-mini.text-italic Todos los campos son requeridos
            form(action='/admin/subcategory/upd' method='POST')
                input(type='hidden' value=result.idpadre name='idpadre')
                input(type='hidden' name='id' value=result.idcategoria)
                .row
                    .col-md
                        .form.mb-3
                            input(type='text' placeholder='Nombre de la categoría' value=result.nombre name='nombre' required)#nombre
                            label(for='nombre') Nombre de la categoría
                .text-center.mb-3
                    button.button-hovered.purple_custom.text-white(type="submit") Actualizar
    a(href='/admin').button__back Volver al inicio