extends ../layouts/site/index

block content
    .section
        p.seccion-identify.mt-4.mb-3 Nosotros
        .divider
        p.f-2.text-bold.center-align Valores                        
        .row
            .col.m12
                .card
                    .card-content
                        p.text-center Respeto, Gratitud, Servicio de atención y Perseverancia
        .divider
        p.f-2.text-bold.center-align Misión
        .row
            .col.m12
                .card
                    .card-content
                        p.text-justify Proporcionar un espacio digital para la publicación de emprendimientos, donde puedan ser apreciados su productos y/o servicios. Ofreciendo capacitaciones constantes en alianzas con especialistas, aportando visibilidad en el mundo digital de las pequeñas y medianas empresas de toda Venezuela.
        .divider
        p.f-2.text-bold.center-align Visión
        .row
            .col.m12
                .card
                    .card-content
                        p.text-justify Posicionar nuestra marca como el directorio digital elegido por su alcance nacional e internacional.
            