extends ../../../layouts/admin/index2

block content
    .form__header.bs-8
        h1 #{section}
    .form__layout
        if (cities.length > 0)
            table.table.table-bordered.table-hovered
                thead.white
                    tr
                        th Estado
                        th Municipio
                        th Fecha de creación
                        th Acciones
                tbody
                    each c in cities
                        tr
                            td=c.estado
                            td=c.ciudad
                            td=c.created_at.toISOString().substr(0, 10)     
                            td.has-row.is-centered
                                a(href='/admin/city/upd/' + c.idciudad).button-hovered.button.not-rounded.text-white.purple_custom
                                    | Actualizar
                                form(action='/admin/city/delete/' + c.idciudad + '?_method=DELETE' method='POST')
                                    input(type='hidden' name='_method' value='DELETE')
                                    button(type='submit').button.not-rounded.button-hovered.red_custom.text-white
                                        | Borrar
        else
            .border-bottom.mt-2.mb-5
            h3.text-center No existe ninguna ciudad registrada.
            .border-bottom.mt-5.mb-2
        if (user.rol === 0)
            .text-center
                a(href='/admin/city/add').button-hovered.purple_custom.text-white Agregar ciudad

    a(href='/admin').button__back Volver al inicio