.count.animate-in
    li
        .number
            =uCount
        .text Clientes
    li
        .number
            =pCount
        .text Publikaciones
    li
        .number
            =aCount
        .text Aliados